/*
  Responsive rules
*/

@media screen and (max-width: 550px){
  div.app-header{
    height: 125px;
    .socials{
      float: none;
      width: 340px;
      margin: 20px auto;
    }
    h1{
      width: 100%;
      float: none;
      text-align: center;
    }
  }
}