/*
  Responsive rules
*/

@media screen and (max-width: 767px){
  div.item.h3{
    width: 97%;
    margin: 30px 10px;
    &:hover{
      h4{
        font-size: 30px;
      }
    }
  }
  div.app-header{
    height: 125px;
    .socials{
      float: none;
      width: 315px;
      margin: 20px auto;
    }
    h1{
      width: 100%;
      float: none;
      text-align: center;
    }
  }
  .large-header{
    div.main-title{
      width: 100%;
      h1{
        font-size: .8em;
      }
    }
  }
}

@media only screen and (max-width : 768px) {
  .main-title {
    font-size: 3em;
  }
}

@media only screen and (max-width : 1080px) {
  div.item{
    width: 47%;
    margin: 30px 10px;
    &:hover{
      h4{
        font-size: 30px;
      }
    }
    &:last-child:after{
      clear: both;
    }
  }
  footer.main-footer{
    position: static;
  }
}

@media only screen and (min-width : 1080px) and (max-width: 1280px) {
  div.item.h3{
    width: 31%;
    margin: 30px 1.15%;
  }
}

@media only screen and (max-width: 570px){
  footer.main-footer{
    div.app-footer{
      height: 105px;
      padding-top: 1px;
      p{
        float:none;
        text-align: center;
        &.signature{
          margin: 0
        }
      }
    }
  }
}