/*
  Responsive rules
*/

@media screen and (max-width: 550px){
  div.app-header{
    height: 125px;
    .socials{
      float: none;
      width: 340px;
      margin: 20px auto;
    }
    h1{
      width: 100%;
      float: none;
      text-align: center;
    }
  }
  .large-header{
    div.main-title{
      width: 100%;
      h1{
        font-size: .8em;
      }
    }
  }
}

@media only screen and (max-width : 768px) {
  .main-title {
    font-size: 3em;
  }
}