/**
  * SASS Declarations for Meteor Portfolio
  */

@mixin vendor-transition($duration: 0.5s, $effect: ease){
  transition: all $duration $effect;
  -webkit-transition: all $duration $effect;
  -moz-transition: all $duration $effect;
  -o-transition: all $duration $effect;
}

body {
    box-sizing: border-box;
    background: url('/img/svg-bg.svg') no-repeat center white;
    background-size: cover;
}
h1{
  color: ivory;
  text-align: center;
}
.item {
  width: 400px;
  border: 1px solid white;
  height: 100px;
  margin-bottom: 15px;
  background: ivory;
  border-radius: 4px;
  border-top: 25px;
  @include vendor-transition(0.5s, ease);
  .closeExpandedItem{
    display: none;
  }
}
.item.w2 { width: 50%; }

.item.h2 { height: 200px; }
.item.h3 { height: 330px; }
.item.h4 { height: 480px; }

.item.w2 { width: 50%; }

.item.h2 { height: 200px; }
.item.h3 { height: 330px; }
.item.h4 { height: 480px; }

.item.itemExpanded{
  width: 100%;
  height: 100%;
  z-index: 201;
  @include vendor-transition(0.5s, ease);
  .closeExpandedItem{
    display: block;
  }
}