/**
  * SASS Declarations for Meteor Portfolio
  */
@import 'components/mixins';
@import 'components/vars';

@font-face {
  font-family: 'sinkin_sans';
  src: url('fonts/sinkinsans-300light-webfont.eot');
  src: url('fonts/sinkinsans-300light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sinkinsans-300light-webfont.woff2') format('woff2'),
  url('fonts/sinkinsans-300light-webfont.woff') format('woff'),
  url('fonts/sinkinsans-300light-webfont.ttf') format('truetype'),
  url('fonts/sinkinsans-300light-webfont.svg#sinkin_sans300_light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fancy_font';
  src: url('fonts/56915284-ekp3-4QykC4--6KaslRgHA.eot');
  src: url('fonts/56915284-ekp3-4QykC4--6KaslRgHA.eot?#iefix') format('embedded-opentype'),
  url('fonts/56915284-ekp3-4QykC4--6KaslRgHA.woff2') format('woff2'),
  url('fonts/56915284-ekp3-4QykC4--6KaslRgHA.woff') format('woff'),
  url('fonts/56915284-ekp3-4QykC4--6KaslRgHA.ttf') format('truetype'),
  url('fonts/56915284-ekp3-4QykC4--6KaslRgHA.svg#56915284-ekp3-4QykC4--6KaslRgHA') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Main Styles */
// Alter animation classes
.custom-header-animation-no-delay{
  @include customise-animation(0.5s, 0s, 1);
}
.custom-header-animation-delay{
  @include customise-animation(0.5s, 0.5s, 1);
}

/* Specific styles */
.about-content{
  &:after{
    @include transparent-background('img/itemBg2.jpg');
    @include vendor-transition(0.3s, ease);
  }
  &:hover:after{
    @include vendor-transition(0.3s, ease);
    @include scaleElement(1.2, 1.2);
  }
}
.projects-content{
  &:after{
    @include transparent-background('img/itemBg.jpg');
    @include vendor-transition(0.3s, ease);
  }
  &:hover:after{
    @include vendor-transition(0.3s, ease);
    @include scaleElement(1.2, 1.2);
  }
}
.skills-content{
  &:after{
    @include transparent-background('img/itemBg3.jpg');
    @include vendor-transition(0.3s, ease);
  }
  &:hover:after{
    @include vendor-transition(0.3s, ease);
    @include scaleElement(1.2, 1.2);
  }
}
.inspiration-content{
  &:after{
    @include transparent-background('img/itemBg4.jpg');
    @include vendor-transition(0.3s, ease);
  }
  &:hover:after{
    @include vendor-transition(0.3s, ease);
    @include scaleElement(1.2, 1.2);
  }
}
.hobbies-content{
  &:after{
    @include transparent-background('img/itemBg5.jpg');
    @include vendor-transition(0.3s, ease);
  }
  &:hover:after{
    @include vendor-transition(0.3s, ease);
    @include scaleElement(1.2, 1.2);
  }
}
.contacts-content{
  &:after{
    @include transparent-background('img/itemBg6.jpg');
    @include vendor-transition(0.3s, ease);
  }
  &:hover:after{
    @include vendor-transition(0.3s, ease);
    @include scaleElement(1.2, 1.2);
  }
}
/* Main Elements Styles */
.item {
  padding: 20px;
  opacity: 0;
  width: 350px;
  border: 5px double darken($theme-lightest, 20%);
  height: 100px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: 0 0 5px 1px $theme-lightest;
  overflow: hidden;
  @include vendor-transition(0.1s, ease);
  &:hover{
    border-bottom-width: 25px;
    cursor: pointer;
    h4{
      font-size:40px;
      @include vendor-transition(0.4s, ease);
    }
    .explain{
      opacity: 1;
      bottom:70px;
      @include vendor-transition(0.4s, ease);
    }
    button.lines-button{
      margin: 5px;
    }
  }
  .explain{
    font-family: sinkin_sans;
    padding:10px;
    font-size: .8em;
    border: 1px solid $theme-lighter;
    position: absolute;
    bottom: 40px;
    left: 11%;
    width:77%;
    margin: 0 auto;
    text-align: center;
    color: $theme-lighter;
    opacity:0;
    @include vendor-transition(0.4s, ease);
  }
  .closeExpandedItem{
    display: none;
  }
  .item-content{
    display: none;
    margin-top: 55px;
    z-index:5;
    img{
      width: 100%;
    }
    p{
      width: 40%;
      float: left;
      padding: 0 15px 10px 15px
    }
  }
  h4{
    color: $theme-lighter;
    font-family: fancy_font;
    float: left;
    margin: 20px 10px;
    font-size: 25px;
    text-transform: uppercase;
    @include vendor-transition(0.3s, ease);
  }
  button.lines-button{
    background: transparent;
    border: none;
    float: right;
    margin-top: -5px;
    z-index: 10;
  }
  &.h3{
    height: 330px;
    margin-top: 0;
  }
}

.lines {
  //create middle line
  @include line;
  position: relative;

  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &:before, &:after {
    @include line;
    position: absolute;
    left:0;
    content: '';
    transform-origin: $button-size/14 center;
  }
  &:before { top: $button-size/4; }
  &:after { top: -$button-size/4; }
}

.lines-button {
  display: inline-block;
  padding: $button-size/2 $button-size/4;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: $button-size/7;
  &.x.close{
    opacity: 1;
    padding: $button-size/2 $button-size/4;
    .lines {

      /*hide the middle line*/
      background: transparent;

      /*overlay the lines by setting both their top values to 0*/
      &:before, &:after {
        transform-origin: 50% 50%;
        top: 0;
        width: $button-size;
      }
    }
  }
}
/* End Main Elements Styles */