/**
  * SASS Declarations for Meteor Portfolio
  */
@font-face {
  font-family: 'sinkin_sans';
  src: url('fonts/sinkinsans-300light-webfont.eot');
  src: url('fonts/sinkinsans-300light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sinkinsans-300light-webfont.woff2') format('woff2'),
  url('fonts/sinkinsans-300light-webfont.woff') format('woff'),
  url('fonts/sinkinsans-300light-webfont.ttf') format('truetype'),
  url('fonts/sinkinsans-300light-webfont.svg#sinkin_sans300_light') format('svg');
  font-weight: normal;
  font-style: normal;

}


//Theme - Teal Steal - adobe kuler
$theme-darkest: #1f1f1f;
$theme-semi-darkest: #3b3b3b;
$theme-light: #adadad;
$theme-lighter: #dedede;
$theme-lightest: #22c2bc;


@mixin vendor-transition($duration: 0.5s, $effect: ease){
  transition: all $duration $effect;
  -webkit-transition: all $duration $effect;
  -moz-transition: all $duration $effect;
  -o-transition: all $duration $effect;
}

body {
  box-sizing: border-box;
  background: $theme-darkest;
  background-size: cover;
  & *,
  & *:before,
  & *:after {
    transform: translate3d(0,0,0);
  }
  button:focus{
    border: none;
    outline: none;
  }

}

.app-header{
  width: 100%;
  height: 60px;
  background: $theme-semi-darkest;
  h1{
    color: lighten($theme-light, 5%);
    float: left;
    text-align: left;
    padding: 9px 0 0 10px;
    font-family: sinkin_sans;
    margin-top:0;
  }
  .socials{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    ul{
      list-style-type: none;
      li{
        display: inline-block;
        margin-right: 10px;
        a{
          color: $theme-light;
          &:hover{
            color: darken($theme-light, 17%);
          }
        }
      }
    }
  }
}
h1{
  color: ivory;
  text-align: center;
}
.item {
  width: 350px;
  border: 5px double darken($theme-lightest, 20%);
  height: 100px;
  margin-bottom: 15px;
  background: $theme-lightest;
  border-radius: 4px;
  box-shadow: 0 0 5px 1px $theme-lightest;
  button.lines-button{
    background: transparent;
    border: none;
    float: right;
    margin-top: -5px;
  }
  @include vendor-transition(0.4s, ease);
  .closeExpandedItem{
    display: none;
  }
  &.w2{
    width: 50%;
  }
  &.h2{
    height: 200px;
  }
  &.h3{
    height: 330px;
    margin-top: 0;
  }
  &.h4{
    height: 480px;
  }
  &.itemExpanded{
    width: 100%;
    height: 100%;
    z-index: 201;
    right: 5%;
    bottom: 5%;
    opacity:1!important;
    @include vendor-transition(0.2s, ease-in-out);
    .closeExpandedItem{
      display: block;
    }
  }
}

@media all and (max-width: 550px){
  .app-header{
    height: 125px;
    .socials{
      float: none;
      width: 340px;
      margin: 20px auto;
    }
    h1{
      width: 100%;
      float: none;
      text-align: center;
    }
  }
}



$button-size : 3.5rem;
$transition: .3s; // increase this to see the transformations in slow-motion

@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/7;
  background: $theme-semi-darkest;
  border-radius: $button-size/14;
  transition: $transition;
}

.lines {

  //create middle line
  @include line;
  position: relative;

  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &:before, &:after {

    @include line;
    position: absolute;
    left:0;
    content: '';
    transform-origin: $button-size/14 center;
  }
  &:before { top: $button-size/4; }
  &:after { top: -$button-size/4; }
}

.lines-button:hover {
  opacity: 1;

  .lines {
    &:before { top: $button-size/3.5; }
    &:after { top: -$button-size/3.5; }
  }
}

.lines-button {
  display: inline-block;
  padding: $button-size/2 $button-size/4;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: $button-size/7;

  &:hover {
    opacity: 1;
  }

  &:active {
    transition: 0;
    background: rgba(0,0,0,.1);
  }
}

.lines-button.x.close {

  opacity: 1;
  padding: $button-size/2 $button-size/4;

  .lines {

    /*hide the middle line*/
    background: transparent;

    /*overlay the lines by setting both their top values to 0*/
    &:before, &:after {
      transform-origin: 50% 50%;
      top: 0;
      width: $button-size;
    }

    // rotate the lines to form the x shape
    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }
    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }
}