/**
  * SASS Declarations for Meteor Portfolio
  */
@font-face {
  font-family: 'sinkin_sans';
  src: url('fonts/sinkinsans-300light-webfont.eot');
  src: url('fonts/sinkinsans-300light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sinkinsans-300light-webfont.woff2') format('woff2'),
  url('fonts/sinkinsans-300light-webfont.woff') format('woff'),
  url('fonts/sinkinsans-300light-webfont.ttf') format('truetype'),
  url('fonts/sinkinsans-300light-webfont.svg#sinkin_sans300_light') format('svg');
  font-weight: normal;
  font-style: normal;
}
//56915284-ekp3-4QykC4--6KaslRgHA.eot
@font-face {
  font-family: 'fancy_font';
  src: url('fonts/56915284-ekp3-4QykC4--6KaslRgHA.eot');
  src: url('fonts/56915284-ekp3-4QykC4--6KaslRgHA.eot?#iefix') format('embedded-opentype'),
//  url('fonts/56915284-ekp3-4QykC4--6KaslRgHA.woff2') format('woff2'),
  url('fonts/56915284-ekp3-4QykC4--6KaslRgHA.woff') format('woff'),
  url('fonts/56915284-ekp3-4QykC4--6KaslRgHA.ttf') format('truetype'),
  url('fonts/56915284-ekp3-4QykC4--6KaslRgHA.svg#56915284-ekp3-4QykC4--6KaslRgHA') format('svg');
  font-weight: normal;
  font-style: normal;
}
$spinner-bg: #BAD3D0;
// Theme - Teal Steal - adobe kuler
$theme-darkest: #1f1f1f;
$theme-semi-darkest: #3b3b3b;
$theme-light: #adadad;
$theme-lighter: #dedede;
$theme-lightest: #22c2bc;
$header-bg: rgba(63, 68, 70, 0.81);
// Morphing buttons
$button-size : 3.5rem;
$transition: .3s;

//Mixin block
@mixin vendor-transition($duration: 0.5s, $effect: ease){
  transition: all $duration $effect;
  -webkit-transition: all $duration $effect;
  -moz-transition: all $duration $effect;
  -o-transition: all $duration $effect;
}
@mixin customise-animation($duration: 2s, $delay: 1.5s, $iterations: infinite) {
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: $iterations;

  -webkit-animation-duration: $duration;
  -webkit-animation-delay: $delay;
  -webkit-animation-iteration-count: $iterations;

  -moz-animation-duration: $duration;
  -moz-animation-delay: $delay;
  -moz-animation-iteration-count: $iterations;

  -o-animation-duration: $duration;
  -o-animation-delay: $delay;
  -o-animation-iteration-count: $iterations;
}

@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/7;
  background: $theme-semi-darkest;
  border-radius: $button-size/14;
  transition: $transition;
}
@mixin center-div($width: 80%, $margin-up-down: 0){
  float: none;
  width: $width;
  margin: $margin-up-down auto;
}

.custom-header-animation-no-delay{
  @include customise-animation(0.5s, 0s, 1);
}
.custom-header-animation-delay{
  @include customise-animation(0.5s, 0.5s, 1);
}

//Main styles
body {
  @include vendor-transition();
  box-sizing: border-box;
  background: $theme-darkest;
  background-size: cover;
  & *,
  & *:before,
  & *:after {
    transform: translate3d(0,0,0);
  }
  .container{
    @include vendor-transition();
    opacity:1;
  }
  button:focus{
    border: none;
    outline: none;
  }
}


.app-header{
  width: 100%;
  height: 60px;
  background: $theme-semi-darkest;
  h1{
    color: lighten($theme-light, 5%);
    float: left;
    text-align: left;
    padding: 9px 0 0 10px;
    font-family: sinkin_sans;
    margin-top:0;
    @include vendor-transition(0.2s, ease);
  }
  .socials{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    @include vendor-transition(0.2s, ease);
    ul{
      list-style-type: none;
      li{
        display: inline-block;
        margin-right: 10px;
        a{
          color: $theme-light;
          &:hover{
            @include vendor-transition(0.2s, ease);
            color: darken($theme-light, 17%);
          }
        }
      }
    }
  }
}
/* Animated Header */
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  background-image: url('/img/wStars.jpg');
  .main-title {
    position: absolute;
    width: 70%;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    h1{
      font-size: 1em;
      background: $header-bg;
    }
    .thin {
      font-weight: 200;
    }
    .enter-btn-holder {
      @include center-div(280px, 0);
      #enterSite {
        width: 100%;
      }
    }
    .main-spinner{
      opacity: 0;
      margin-bottom:-100px;
    }
  }
}

.spinner {
  margin: 30px auto;
  width: 105px;
  height: 125px;
  text-align: center;
  font-size: 10px;
  div{
    background-color: $spinner-bg;
    height: 100%;
    width: 6px;
    display: inline-block;
    margin-left: 7px;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
    &:first-child{
      margin-left:0;
    }
  }
  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

.app-footer{
  width: 100%;
  height: 60px;
  background: $theme-semi-darkest;
  color: lighten($theme-light, 5%);
  .signature{
    float: right;
    margin: 20px 35px;
  }
  .created{
    float: left;
    margin: 20px 35px;
  }
}
h1{
  color: ivory;
  text-align: center;
}
.item {
  opacity: 0;
  width: 350px;
  border: 5px double darken($theme-lightest, 20%);
  height: 100px;
  margin-bottom: 15px;
  background: url(img/itemBg.jpg) center center $theme-lightest;
  border-radius: 4px;
  box-shadow: 0 0 5px 1px $theme-lightest;
  @include vendor-transition(0.4s, ease);
  .closeExpandedItem{
    display: none;
  }
  .item-content{
    display: none;
    margin-top: 55px;
    z-index:5;
    img{
      width: 100%;
    }
    p{
      width: 40%;
      float: left;
      padding: 0 15px 10px 15px
    }
  }
  h4{
    font-family: fancy_font;
    float: left;
    margin: 20px 10px;
    font-size: 25px;
    text-transform: uppercase;
    @include customise-animation(1s, 0s, 2);
  }
  button.lines-button{
    background: transparent;
    border: none;
    float: right;
    margin-top: -5px;
    z-index: 10;
  }
  &.w2{
    width: 50%;
  }
  &.h2{
    height: 200px;
  }
  &.h3{
    height: 330px;
    margin-top: 0;
  }
  &.h4{
    height: 480px;
  }
  &.itemExpanded{
    position:fixed;
    z-index: 201;
    right: 5%;
    bottom: 5%;
    opacity:1!important;
    background: $theme-lightest;
    @include vendor-transition(0.2s, ease-in-out);
    .closeExpandedItem{
      display: block;
    }
    .item-content{
      margin-top: 55px;
      z-index:5;
      img{
        width: 50%;
        float: left;
      }
    }
  }
}

.lines {
  //create middle line
  @include line;
  position: relative;

  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &:before, &:after {
    @include line;
    position: absolute;
    left:0;
    content: '';
    transform-origin: $button-size/14 center;
  }
  &:before { top: $button-size/4; }
  &:after { top: -$button-size/4; }
}

.lines-button {
  display: inline-block;
  padding: $button-size/2 $button-size/4;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: $button-size/7;
  &.x.close{
    opacity: 1;
    padding: $button-size/2 $button-size/4;
    .lines {

      /*hide the middle line*/
      background: transparent;

      /*overlay the lines by setting both their top values to 0*/
      &:before, &:after {
        transform-origin: 50% 50%;
        top: 0;
        width: $button-size;
      }

      // rotate the lines to form the x shape
      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }
      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
  &:hover {
    opacity: 1;
  }
  &:active {
    transition: 0;
    background: rgba(0,0,0,.1);
  }
  .lines {
    &:before {
      top: $button-size/3.5;
    }
    &:after {
      top: -$button-size/3.5;
    }
  }
}
